.wrapper{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.form-horizontal input{

 }
.mg-5{
    margin-left: 5px;
}
body{
    background: linear-gradient(#f5fafa, #d2dddf);
    min-height: 100vh;
}
a{
    color: white;
    text-decoration: none;
}
.table{
    border:1px solid black;
    background: white;
}
td{
    collapse: collapse;
    border:1px solid black;
    padding: 5px;
}